body{
    text-align: center;
    font-family: Arial, sans-serif;
    margin:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}


svg{
    width: 100%;
    height: auto;
    max-width: 1200px;
    border: 2px solid #00796b;
    background-color:skyblue;
    margin: auto;
}


.node {
    fill: rgb(20, 110, 178);
    stroke: #004d40;
    stroke-width: 2;
    
}
.node:hover {
    fill: rgb(25, 57, 70);
    cursor: pointer;
    transition: fill 0.3s ease-in-out;

}  

.text {
    font-size: 30px;
    fill:white;
    font-weight: bold;
    text-anchor: middle;
}
line {
    stroke: black;
    stroke-width: 2;
}



@media (max-width: 730px) {
    .text {
        text-overflow: x;
        font-size: 14px;
    }

    .node {
        width: 260px;
        height: 90px;
        
    }

    svg {
        max-width: none;
        height: auto;
    }

    .container {
        padding: 5px;

    }
    
}
